html {
	height: 100%;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}


.row {
    margin-left: -20px;
    margin-right: -20px;
}

.container-max-width {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    margin-right: auto;
    margin-left: 20px;
    padding-left: 20px;
	padding-right: 20px;
}

.jumbotron {
    position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
    background-color: #272727;
    border-bottom: 10px solid #1B8496;
	color: #fff;
}

.jumbotron h1 {
	
    font-size: 3.5em;
	line-height: 1em;
	color: #fff;
}

.no-margin {
	margin: 0!important;
}

.text-primary {	
    color: #1B8496;
}

#map-canvas {
	position: absolute;
	top: 114px;
	margin: 0;
	padding: 0;
	bottom: 0;
    width: 100%; 
}
#map-canvas img {
	max-width: none !important;
}
.gm-style-iw {
	width: 200px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid 1B8496;
	border-radius: 2px 2px 10px 10px;
}

#iw-container {
	margin-bottom: 30px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #1B8496;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 11px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.iw-image {
	width: 200px;
	height: 105px;
}

.iw-subTitle {
	font-size: 15px;
	font-weight: 700;
	padding: 3px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 200px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}